/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v20-latin-regular.woff') format('woff') /* Modern Browsers */
}


/* roboto-100italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
    url('../fonts/roboto-v20-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v20-latin-100italic.woff') format('woff') /* Modern Browsers */
}

/* roboto-italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'),
    url('../fonts/roboto-v20-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v20-latin-italic.woff') format('woff') /* Modern Browsers */
}

/* roboto-500italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url('../fonts/roboto-v20-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v20-latin-500italic.woff') format('woff') /* Modern Browsers */
}

/* roboto-900italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
    url('../fonts/roboto-v20-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v20-latin-900italic.woff') format('woff') /* Modern Browsers */
}

html {
    color: white;
    line-height: 1.2;
    background-color: rgb(0, 50, 102);
}

p, h1 {
    margin: 0;
}

.main {
    background: url(../img/money.jpg) no-repeat center;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

@media screen and (max-width: 980px) {
    .main {
        background: url(../img/bg-m.jpg) no-repeat center;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
}

.container {
    margin-left: 50%;
    margin-top: 170px;
    display: inline-block;
}


.title {
    font-size: 45px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    text-transform: uppercase;
}

.subtitle {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    max-width: 390px;
    border-left: 3px solid #fa4d00;
    padding-left: 15px;
    margin-top: 30px;
}


.content {
    background-color: #012347;
    height: 405px;
    width: 440px;
    border-radius: 15px;
    margin-top: 30px;
}
@media screen and (max-width: 980px) {
    .container {
        text-align: center;
        width: 440px;
        margin: auto;
        display: block;
        padding-top: 120px;
    }
    .title {
        font-size: 56px;
        line-height: 1;
    }
    .subtitle {
        border-left: none;
        border-top: 3px solid #fa4d00;
        font-size: 24px;
        line-height: 1.5;
        padding: 0;
        max-width: 440px;
        margin-top: 10px;
    }
    .content{
        margin-top: 360px;
    }
}
.info {
    background-color: rgb(0, 50, 102);
    height: 125px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}

.color-title__info {
    font-family: "Roboto", sans-serif;
    color: rgb(255, 210, 0);
}

.title__info {
    padding: 25px 0 0 0;
    margin: 0;
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    position: relative;
    text-shadow: 1px 1px 8px yellow, 0 0 1em yellow;
}

.title__info__double {
    padding: 30px 0 0 0;
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    color: rgb(114, 105, 80);
    font-style: italic;
    text-transform: uppercase;
    line-height: 1.2;
    position: absolute;
    margin: 0;
    text-align: center;
    left: 4.5%;
    font-weight: 100;
    letter-spacing: 0.08rem;
}

.subtitle__info {
    margin: 10px auto 0 auto;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    color: rgb(86, 185, 255);
    font-style: italic;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
    max-width: 380px;
    text-shadow: 1px 1px 50px #56b9ff, 0 0 1em #56b9ff;
    letter-spacing: 0.01rem;
}

.wrap-switch {
    background-color: rgb(0, 50, 102);
    display: flex;
    justify-content: center;
}

.switch__email, .switch__phone {
    width: 200px;
    height: 50px;
}

.switch__phone p {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: rgb(244, 185, 9);
    line-height: 0.8;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch__phone {
    background-image: -moz-linear-gradient(90deg, rgb(1, 35, 71) 0%, rgb(0, 50, 102) 84%);
    background-image: -webkit-linear-gradient(90deg, rgb(1, 35, 71) 0%, rgb(0, 50, 102) 84%);
    background-image: -ms-linear-gradient(90deg, rgb(1, 35, 71) 0%, rgb(0, 50, 102) 84%);
}

.switch__email p {
    text-align: center;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    line-height: 0.8;
    font-weight: bold;
    padding-top: 20px;
    color: rgb(17, 131, 211);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-switch svg {
    padding-right: 15px;
}

/*стили для активации вкладок начало*/
.switch-act {
    background-image: -moz-linear-gradient(90deg, rgb(1, 35, 71) 0%, rgb(0, 50, 102) 84%);
    background-image: -webkit-linear-gradient(90deg, rgb(1, 35, 71) 0%, rgb(0, 50, 102) 84%);
    background-image: -ms-linear-gradient(90deg, rgb(1, 35, 71) 0%, rgb(0, 50, 102) 84%);
    background-color: rgb(0, 50, 102);
    color: rgb(244, 185, 9);
}

.switch-noact {
    color: rgb(17, 131, 211);
    background-color: #012347;
}

/*стили для активации вкладок конец*/
.input-one {
    width: 394px;
    height: 45px;
    border: 2px solid #003266;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin: 20px auto 0;
    display: flex;
}

.form-input-one {
    background-color: transparent;
    outline: none;
    color: rgb(17, 131, 211);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    display: block;
    border: none;
    height: auto;
}

.phone-code {
    background: url(../img/arrow.png) no-repeat right;
    background-position-x: 86%;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 2;
    height: auto;
    width: 145px;
    display: flex;
    align-items: center;
}

.phone-code p {
    display: inline-block;
}

.phone-code img {
    margin: 5px 5px 0 5px;
}


.form-input-two {
    background-color: transparent;
    border: 2px solid #003266;
    outline: none;
    margin: 20px auto 0;
    display: block;
    width: 394px;
    height: 45px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: rgb(17, 131, 211);
    line-height: 2;
    font-weight: bold;
}

.form-submit {
    background-image: -moz-linear-gradient(90deg, rgb(250, 77, 0) 0%, rgb(250, 94, 0) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(250, 77, 0) 0%, rgb(250, 94, 0) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(250, 77, 0) 0%, rgb(250, 94, 0) 100%);
    box-shadow: 0px 11px 27px 0px rgba(250, 65, 0, 0.63);
    width: 400px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 28px;
    margin: 20px auto 0;
    display: block;
}

.form-submit:hover {
    background-color: rgba(250, 65, 0, 0.63);
}


/**
    Спрячем сам флажок. Его установка и снятие будут происходить с помощью элемента подписи.
*/

input[type=checkbox] {
    display: none;
}

/* Кнопка «Нажмите, чтобы развернуть» */

label {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    background: url(../img/arrow.png) no-repeat right;
    background-position-x: 95%;
}

label svg {
    padding-right: 15px;
}

/*  Ненумерованный список будет спрятан по умолчанию */

ul {
    position: absolute;
    list-style: none;
    text-align: left;
    width: 390px;
    z-index: 1;
    margin: 0;
    padding: 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    display: none;
}


ul li {
    border: 2px solid #003266;
    color: rgb(17, 131, 211);
    background-color: #012347;
    cursor: pointer;
    padding-left: 15px;
}

ul li:hover {
    color: white;
}

ul li svg {
    padding-right: 13px;
}


/**

    Используя родственный селектор ~, можно обращаться к элементам, расположенным за элементом флажка в дереве объектов документа.
    Используя псевдокласс :checked, можно задавать изменения в зависимости от состояния элемента флажка.
    Используя вместе родственный селектор ~ и псевдокласс :checked, можно изменять цвет подписи и показывать элементы списка, только если установлен флажок.

*/

/*input[type=checkbox]:checked ~ label {
    background-color: #3D88BD;
}*/


input[type=checkbox]:checked ~ ul {
    display: block;
}